# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/
client/build/

# IDEs
.vscode/
.idea/
.DS_Store

# Unused files
client/vite.config.js.bak
client/eslint.config.js.bak
